<!-- main.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <title>Reddit Clone</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <ul>
        <li><a href="">Subreddits</a></li>
        <li><a href="">Sort/Filters</a></li>
    </ul>

    {{{body}}}

</body>
</html>
